.header {
    .header_top {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #242424;
        height: 70px;
        min-width: 1920px;

        font-family: Arial, Helvetica, sans-serif;

        .headerItem {
            color: #fff;
            padding: 0 19px;
            cursor: pointer;
            height: 100%;
            line-height: 70px;
            position: relative;

            >span {
                position: absolute;
                background-color: #C20C0C;
                color: #fff;
                height: 15px;
                width: 28px;
                font-size: 12px;
                text-align: center;
                line-height: 15px;
                border-radius: 20px;
                top: 20px;
                right: -15px;
            }

            &:hover {
                background-color: #000;
            }
        }

        .active {
            background-color: #000;
        }

        .header_input {
            margin-left: 60px;

            .ant-input {
                font-size: 12px !important;
            }

            .ant-input-search {
                width: 170px;
                border-radius: 20px;
            }
        }

        .header_btns {
            color: #ccc;
            margin-left: 15px;
            border-radius: 20px;
            height: 30px;
            width: 90px;
            text-align: center;
            line-height: 30px;
            border: 1px solid #4F4F4Fee;
            font-size: 12px;
            cursor: pointer;

            &:hover {
                border: 1px solid #fff;
            }
        }

        .header_login {
            margin-left: 20px;
            height: 100%;
            line-height: 70px;
            color: #666;

            &:hover {
                color: #787878;
            }

            >span {
                &:hover {
                    color: #999;
                    text-decoration: underline;
                    cursor: pointer;
                }
            }
        }
    }

    .header_bottom {
        background-color: #C20C0C;
        height: 35px;
        line-height: 35px;
        display: flex;
        align-items: center;
        justify-content: center;

        .navItem {
            margin-right: 50px;
            color: #fff;

        }
    }

    .height {
        height: 0px !important;
    }

}