.Find {
    width: 100%;

    .header {
        width: 100%;

        .banner {
            width: 100%;
            .slick-slider {
                width: 800px;
                margin: 0 auto;
                height: 285px;
            }
        }
    }
}