.Find {
    width: 100%;

    .header {
        width: 100%;
        text-align: center;
        height: 285px;

        .banner {
            width: 100%;
            height: 285px;
            position: relative;

            .banner_bg {
                position: absolute;
                width: 100%;
                height: 285px;
                filter: blur(20px);
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }

            .slick-slider {
                width: 800px;
                margin: 0 auto;
                height: 285px;
            }
        }
    }
}